# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Videos
server/videos/
server/media/videos/

# Models
models/

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Dependency directories
node_modules/

client/dist/**
!client/dist/base.html

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#PyCharm
.idea
